body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
}

header img {
    display: block;
    margin: 0 auto;
}

.nav-item-list {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0;
    justify-content: center;
    margin: 0;
}

.nav-item-list li {
    margin-right: 16px;
    padding: 12px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.nav-item-list li:hover {
    font-size: large;
}

.nav-item-list :last-child {
    margin-right: 0;
}

main {
    display: flex;
    justify-content: center;
}

main div {
    justify-content: center;
}