@font-face {
  font-family: "Over The Rainbow";
  src: url(./public/fonts/OvertheRainbow-Regular.ttf), format("font/ttf");
}

@font-face {
  font-family: "Notable";
  src: url(./public/fonts/Notable-Regular.ttf), format("font/ttf");
}

@font-face {
  font-family: "Limelight";
  src: url(./public/fonts/Limelight-Regular.ttf), format("font/ttf");
}

body {
  margin: 0;
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("./public/images/avif/brown-wooden-floor-1920px.avif")
    no-repeat;
  background-size: cover;
}

@media (max-width: 800px) {
  body {
    background: none;
  }
}

.record-player-container {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-60%, -40%) rotate(-65deg);
}

.record-player-base-container {
  position: relative;
  filter: drop-shadow(-24px 48px 24px rgba(0, 0, 0, 0.5));
}

.record-player-base {
  mask: url("./public/images/avif/record-player-base.avif");
}

.tone-arm-container {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50px, 275px) rotate(-55deg) scale(1.5);
  filter: drop-shadow(-24px 24px 12px rgb(0, 0, 0, 0.75));
}

.tone-arm {
  mask: url("./public/images/avif/record-player-arm.avif");
}

.record-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-58%, -55%) scale(1.55);
}

.record {
  mask: url("./public/images/avif/record.avif");
}

.paper-background {
  margin: 96px 0;
  padding-bottom: 36px;
  background: url("./public/images/avif/paper-texture.avif") repeat-y;
  box-shadow: 0 0 24px 12px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  width: 50%;
  min-width: 800px;
  height: calc(100% - 128px);
}

@media (max-width: 800px) {
  .paper-background {
    margin: 0;
    background: none;
    box-shadow: none;
    width: 100%;
    min-width: auto;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
}

@media (max-width: 800px) {
  .header {
    padding: 8px;
  }
}

.hero-image {
  display: block;
  margin: 0 auto;
  height: 600px;
  width: 600px;
}

@media (max-width: 800px) {
  .hero-image {
    width: 250px;
    height: 250px;
  }
}

.nav-item-list {
  display: flex;
  flex-direction: row;
  padding-inline-start: 0;
  justify-content: center;
  margin: 0;
}

.nav-item-list li {
  margin-right: 48px;
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .nav-item-list li {
    margin-right: 12px;
  }
}

.nav-item-list :last-child {
  margin-right: 0;
}

main {
  display: flex;
  justify-content: center;
}

main div {
  justify-content: center;
}

footer {
  width: 100%;
  min-height: 128px;
}
