@font-face {
  font-family: "Over The Rainbow";
  src: url(./public/fonts/OvertheRainbow-Regular.ttf), format("font/ttf");
}

@font-face {
  font-family: "Notable";
  src: url(./public/fonts/Notable-Regular.ttf), format("font/ttf");
}

@font-face {
  font-family: "Limelight";
  src: url(./public/fonts/Limelight-Regular.ttf), format("font/ttf");
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: clip;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* background: url("./public/images/avif/brown-wooden-floor-1920px.avif") no-repeat;
  background-size: cover; */
  background-color: rgb(157, 211, 255)
}

body record-album {
  height: 75%;
  width: 100%;
}

@media (max-width: 800px) {
  body {
    background: none;
  }
}

.record-player-container {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-60%, -40%) rotate(-65deg);
}

@media (max-width: 800px) {
  .record-player-container {
    display: none;
  }
}

.record-player-base-container {
  position: relative;
  filter: drop-shadow(-24px 48px 24px rgba(0, 0, 0, 0.5));
}

.record-player-base {
  mask: url("./public/images/avif/record-player-base.avif");
}

.tone-arm-container {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50px, 275px) rotate(-55deg) scale(1.5);
  filter: drop-shadow(-24px 24px 12px rgb(0, 0, 0, 0.75));
}

.tone-arm {
  mask: url("./public/images/avif/record-player-arm.avif");
}

.record-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-58%, -55%) scale(1.55);
}

.record {
  mask: url("./public/images/avif/record.avif");
}

main {
  display: flex;
  justify-content: center;
}

main div {
  justify-content: center;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.75);
  width: 50%;
  min-width: 800px;
  border-radius: 8px;
}

footer {
  min-height: 128px;
}