.album-cover-link {
    display: flex;
    margin: 48px auto;
    height: 85%;
    aspect-ratio: 1/1;
    text-decoration: none;
}

@media (max-width: 800px) {
    .album-cover-link {
        display: none;
    }
}

.album-cover {
    position: relative;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 24px;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(247, 238, 123);
    border-top: 4px rgb(255, 251, 198) solid;
    border-left: 4px rgb(206, 198, 85) solid;
    border-right: 4px rgb(206, 198, 85) solid;
    border-bottom: 4px rgb(206, 198, 85) solid;
    box-shadow: 0 24px 24px 6px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

@media (max-width: 800px) {
    .album-cover {
        margin: 0;
        background: none;
        box-shadow: none;
        border: none;
        width: 100%;
        min-width: auto;
    }
}

.hero-image {
    margin: 0 auto;
    height: 75%;
    width: 75%;
}

.animated-record {
    position: absolute;
    z-index: -10;
    top: 0;
    translate: 25% 0;
    transition: translate 0.5s ease;
}

.album-cover-link:hover .animated-record {
    translate: 50% 0;
}

.album-cover-title {
    color: black;
    font-size: xxx-large;
}

.album-cover-subtitle {
    color: black;
    font-size: x-large;
}